@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,200;1,300&display=swap');

:root{
    --blue:#d9def1;
    --darkblue:#172b85;
    --pink:#5a6299;
    --lightblue:#72779e;
    --gardient:linear-gradient(90deg, var(--lightblue) ,var(--pink));
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* background-color: aqua; */
    text-decoration: none;
    outline: none;border: none;
    text-transform: capitalize;
}
*::selection{
    background:var(--blue);
    color:#fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
background: #f9f9f9;


}
.newletter{
 text-align: center;
 padding: 5rem 1rem;
 background-image: linear-gradient(to  bottom right, rgb(242, 245, 248) , rgb(190, 196, 204));


}
.newletter h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(67, 125, 163);
}
.newletter p{
    font-size: 1.6rem;
  
    color: #fff;
    margin: 2rem auto;
    width: 70rem;
}
.newletter form {
    display: flex;
    max-width: 70rem;
    border: .2rem solid #fff;
    padding: .5rem;
    border-radius: 5rem;
    margin: 2rem auto;
    height: 5.5rem;
   
    
}
.newletter form input[type="email"]{
 padding: 0 2rem;
 font-size: 1.7rem;
 background: none;
 width: 100%;
 color: #fff;
text-transform: none;

}
.newletter form input[type="email"]::placeholder{
    color: rgb(173, 173, 173);
    text-transform: capitalize;
}
.newletter form input[type="submit"]{
background: #fff;
width: 20rem;
font-size: 1.7rem;
border-radius: 5rem;
cursor: pointer;
}
.newletter form input[type="submit"]:hover{
color: var(--pink);

}
.review{
    padding: 20rem;

}
.review h1{
    text-align: center;
 font-size: 5rem;
 margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    color: var(--pink);
}
.review .box-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.review .box-container .box{
background: #fff;
margin: 1rem;
padding: 1rem;
text-align: center;
position: relative;
border: .1rem solid rgba(0, 0, 0, .2);
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
flex: 1 1 30rem;
border-radius: .5rem;
}
.review .box-container .box .fa-quote-right{
   
    
    
 
    position: absolute;
    top: 1rem; right: 2rem;
    font-size: 8rem;
    color: var(--pink);
    opacity: .3;
    
    }
    .review .box-container .box  .user img{
   border-radius: 50%;
   object-fit: cover;
   height: 7rem;
   width: 7rem;
   margin-top: 2rem;



    }
    .review .box-container .box  .user h3{
        color: var(--pink);
        font-size: 2rem;
    }
    .review .box-container .box  .user .stars i{
        color: var(--lightblue);
        font-size: 1.5rem;
        padding: 1rem 0;
    }
    .review .box-container .box .coment{
        color: #666;
        font-size: 1.4rem;
        padding: 1rem;
    }
.about{
   background-color: var(--blue);

}
.abouts h1{
text-align: center;
 font-size: 5rem;
    margin-left: 2rem;
    margin-bottom: 5rem;
    color: var(--pink);
}
.about .abouts p{
    text-align: center;
    font-size: 2rem;
    color: #666;
    padding-top: 1rem 0;
}
.about .abouts .button {
display: flex;
justify-content:center ;
padding: 4rem

}
.about .abouts .button a:last-child {
 
    margin-left: 2rem;
    
    }
section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--gardient);
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}
.btn:hover{
    transform: scale(1.1);
}
.heading{
    text-align: center;
    background: var(--gardient);
    color: transparent;
    /* it allows a background image to be clipped by a text element.  */
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}
header{
position: fixed;top: 0;
left: 0;
width: 100%;

background: #fff;
box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
padding: 2rem 9%;
display: flex;
align-items: center;
justify-content: space-between;
z-index: 1000;
}

header .logo{
font-size: 2rem;
color: var(--darkblue);

}

header .logo span{
color:var(--lightblue) ;

}

header .navbar a{
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--pink);
}

header .navbar a:hover{
    color: var(--darkblue);
}
header input{
display:none;

}
.pricing .box-container{

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;

}
.pricing .box-container .box{
    flex:1 1 27rem;
    margin: 1rem;
    padding: 1rem;
    background:#fff;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    text-align: center;
    padding-bottom: 3rem;


}
.pricing .box-container .box:nth-child(2),
.pricing .box-container .box:hover{
    border: .2rem solid var(--pink);
}
.pricing .box-container .box .title{
   font-size: 2.5rem;
   padding-top: 1rem;
    color: var(--darkblue);
}
.pricing .box-container .box .price{
    font-size: 1rem;
    color: var(--pink);
    padding: 1rem 0;

}
.pricing .box-container .box .price span{
    font-size: 2rem;

}
.pricing .box-container .box ul{
    padding: 1rem 0;
    list-style: none;
}
.pricing .box-container .box ul li{
    font-size: 1.7rem;
    color: #666;
    padding: .5rem 0;
}
.pricing .box-container .box ul li .fa-check{
     color: lightgreen;

}
.pricing .box-container .box ul li .fa-times{
    color: tomato;

}

.footer{
    padding-top: 3rem;
    background:var(--gardient);


}
.footer.box-container{
    display: flex;
    flex-wrap: wrap;

}
.footer .box-container .box{
    flex:1 1 25rem ;
    margin: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color:var(--lightblue);
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--pink)
   
}
.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding: .5rem 0;
    color: var(--pink)
   
}

.footer .box-container .box a:hover{
    text-decoration: underline;
}

.footer .box-container .box .info{
    display: flex;
    align-items: center;
}

.footer .box-container .box .info i{
 margin: .5rem 0;
 margin-right: 1rem;
 border-radius: 50%;
 background: #eee;
 color: var(--lightblue);
 font-size: 1.5rem;
 height: 4.5rem;
 width: 4.5rem;
 line-height: 4.5rem;
 text-align: center;

}

.footer .credit{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--lightblue);
    border-top: .1rem solid #000000;
    padding: 2.5rem 1rem;
    text-align: center;
}


header label{
  font-size: 3rem;
  color: var(--pink);
  cursor: pointer;
opacity: 0;
visibility: hidden;
}

.rotateimg180 {
    /* transform: rotate(20deg);  */
    mix-blend-mode: multiply;
    height: 350px;
    width: 350px;
  }

  .home{
      display: flex;
      align-items: center;
      justify-content: center;
  
      background-image: linear-gradient(to  bottom left, rgb(242, 245, 248) , rgb(185, 202, 228));
  }
  .home .image img{
    
      animation: float 3s linear infinite;
      /* animation: drop 1.5s ease; */
  }
  /*annimation*/
@keyframes float{
    0%, 100%{
     
      transform: translateY(0rem);
  
  
    }
   50%{
       
       transform: translateY(-3.5rem);
   }
  }
  .home .content h3{
      font-size: 5.5rem;
      color: #333;
      text-transform: uppercase;
  }
  .home .content h3 span{
      color: var(--pink);
      text-transform: uppercase;
  }
  .home .content p{
    font-size: 1.7rem;
    color: #666;
    padding:  1rem 0;
}

.features .box-container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features .box-container .box{
    flex: 1  1 30rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}
.features .box-container .box img{
   height: 15rem;

}
.features .box-container .box h3{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
 
 }

 .features .box-container .box p{
    font-size: 1.3rem;
    color: #666;
    padding-top: 1rem 0;
 
 }
.heading1{
   
    text-align: center;
    background: var(--gardient);
    color: transparent;
    /* it allows a background image to be clipped by a text element.  */
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1rem;
}
@media(max-width:1200px){
    html{
        font-size: 55%;
    }
}


@media(max-width:991px){
    section{
       
        padding: 0 3%;
        padding-top: 7.5rem;
    }
}
@media(max-width:768px){
    header label{
        
      opacity: 1;
      visibility: visible;
      }
      header .navbar{
          position:absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background: #fff;
          padding:1rem 2rem;
          border-top: .1rem solid rgba(0, 0, 0, .2);
          box-shadow: 0 .5rem rgba(0, 0, 0, .1);
          transform-origin: top;
          transform: scaleY(0);
          opacity: 0;
        }
      header .navbar a{
          display: block;
        font-size: 2rem;
        margin-left: 2rem 0;
       

    }
    header input:checked ~ .navbar{
       transform: scaleY(1);
       opacity: 1;
       transition: .2s linear;

    }
    header input:checked ~ label::before{
         content: '\f00d';
    } 
    .home{
        flex-flow: column-reverse;
    }
    .home .image img{
        width: 100%;

    }
    .home .content h3{
        font-size: 3.6rem;
    }
    .home .content p{
        font-size: 1.5rem;
    }
    .about{
        background-position: right;
    }
    .newletter p{
        width: auto;
    }
}
@media (max-width:450px) {
    html{
      font-size: 50%;
    }
    .about .abouts .button a{
        width: 100%;
        text-align: center;
    }
    .about .abouts .button{
        display: block; 
    }
    .about .abouts .button a:last-child{
      margin: 1rem 0;
      
    }
}
